/* CSS Document */ 
body
{
    background-color:white;
    margin: auto;
    width: 800px;
}

.Header
{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 10px;
    color: black;
    background-color:whitesmoke;
    width: 800px;
    line-height: 30px;
    text-align: left;
    text-indent: 20px;
}

*{
    box-sizing: border-box;
}

.footer
{
    width: 800px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightseagreen;
    color: lightyellow;
    padding: 10px;
}

.column
{
    float: left;
    padding: 0px;
    padding-top: 10px;
    margin: auto;
}

.column1
{
    float: left;
    padding: 0px;
    padding-top: 20px;
    margin: auto;
    background-color: yellow;
}

.clearfix::after
{
    content: "";
    clear: both;
    display: table;
}

.menu
{
    width: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu1
{
    width: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu1 ul
{
    list-style-type: none;
    margin: auto;
    padding: 0px;
    text-decoration: none;
}

.menu1 li
{
    padding: 10px;
    margin-bottom: 10px;
    background-color: blueviolet;
    color:white;
}

.menu1 li:hover
{
    background-color: darkorange;
}

.menu ul
{
    list-style-type: none;
    margin: auto;
    padding: 0px;
}

.menu li
{
    padding: 10px;
    margin-bottom: 10px;
    background-color: cyan;
    color: darkmagenta;
}

.menu li:hover
{
    background-color: darkorange;
}
.menu li:active
{
    background-color:purple;
    color: red;
}

.content
{
    width: 500px;
    height: 210px;
    background-color: wheat;
    background-image:url("images/pencil.jpg");
    margin: 10px 20px 5px 20px;
}

.content1
{
    width: 500px;
    background-color:greenyellow;
    margin: 20px 30px 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav2 ul
{
    color: darkmagenta;
    background-color:blanchedalmond;
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    padding: 0px;
    width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav2 li
{
    float:left;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
    background-color: khaki;
    width: 150px;
    height: 30px;
    text-align: center;
}

.nav2 li a
{
    display: block;
    color: blueviolet;
    text-align: center;
    width: 150px;
    height: 30px;
    text-decoration: none;
}
.nav2 li a:hover
{
    background-color:cyan;
}
.nav2 li a:active
{
    background-color: seagreen;
    color: springgreen;
}